[submodule "forge-std"]
	path = forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "openzeppelin-contracts"]
	path = openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "v2-core"]
	path = v2-core
	url = https://github.com/clober-dex/v2-core
[submodule "solmate"]
	path = solmate
	url = https://github.com/transmissions11/solmate
